@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --header-btn-color: #212529;
  --header-text-color: #212529;
  --header-nav-color: #ffffff;
  --page-font-family: "Poppins";
  --hero-btn-color: #81b29a;
  --hero-text-color: #ffffff;
  --section-text-color-heading: #212529;
  --section-text-color-paragraph: #6c757d;
  --section-btn-color: #e26d5c;
  --section-btn-color2: #3e454d;
  --aside-tag-color: #e9ecef;
  --section-bg-color: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
}
.main-container {
  background: url("Hero-image-2.png");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

nav.header-menu {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  background-color: var(--header-nav-color);
  width: 80%;
  border-radius: 10px;
}

ul.header-list {
  display: flex;
  gap: 60px;
  list-style: none;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
li.header-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

li.header-item a {
  color: var(--header-text-color);
  text-decoration: none;
  font-size: 16px;
}
span img {
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.profile button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  outline: none;
  background-color: var(--header-nav-color);
}
.profile a {
  text-decoration: none;
  color: var(--header-nav-color);
  padding: 8px;
  background-color: var(--header-text-color);
  border-radius: 5px;
}

/* I have to made .content-container display flex */

.content-section {
  background-color: var(--section-bg-color);
}

.content-icon {
  height: 120px;
  margin-left: 50px;
  padding-left: 20px;
  padding-top: 15px;
  padding-right: 20px;
  background-color: var(--header-nav-color);
}

.content-container {
  display: flex;
  /* justify-content: space-between; */
  gap: 50px;
  padding-top: 150px;
}

.content-part{
  padding-left: 50px;
}
.content-text1 a {
  text-decoration: none;
  font-size: 10px;
  color: var(--header-nav-color);
  padding: 5px;
  border-radius: 5px;
  background-color: var(--section-btn-color);
}
.content-text1 h2 {
  font-size: 32px;
  width: 70%;
  margin-top: 10px;
}
.profile1 {
  display: inline-block;
  font-size: 12px;
  margin-top: 10px;
}

.profile1 span.bold {
  font-weight: bold;
  color: black;
}
.profile1 span {
  color: var(--section-text-color-paragraph);
}

.content-text1 p.description {
  font-size: 14px;
  color: var(--section-text-color-paragraph);
  width: 80%;
  margin-top: 50px;
}

.content-text2 {
  display: flex;
  gap: 20px;
  margin-top: 100px;
}

.content-text2 p.description2 {
  font-size: 16px;
  font-weight: 500;
  width: 65%;
}
.content-text2-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-text2-1 p.profile2 {
  font-size: 14px;
  color: var(--section-text-color-paragraph);
}

.content-text3 {
  margin-top: 80px;
}

.content-text3 img {
  position: relative;
  right: 100px;
}

.content-text3 p.dummy-description {
  margin-top: 80px;
  color: var(--section-text-color-paragraph);
  font-size: 14px;
  width: 80%;
  line-height: 1.8;
  margin-bottom: 80px;
}

hr {
  width: 80%;
}

.content-text4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 80%;
}

.content-text4-btn {
  display: flex;
  gap: 20px;
  font-size: 12px;
}

.content-text4-btn a {
  color: white;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
}

.content-text4-btn a.red {
  background-color: var(--section-btn-color);
}
.content-text4-btn a.green {
  background-color: var(--hero-btn-color);
}
.content-text4-btn a.black {
  background-color: #6c757d;
}
.content-text4-btn a.purple {
  background-color: #b8bedd;
}

.data-icon {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

span.data-image img {
  width: 10px;
}

span.data-text {
  font-size: 10px;
  color: var(--section-text-color-paragraph);
}
.content-text5 {
  display: flex;
  margin-top: 80px;
  gap: 20px;
  margin-bottom: 80px;
}

.content-text5 img {
  width: 80px;
  height: 80px;
}
.content-text5-1 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.content-text5-1 h3 {
  font-size: 18px;
  font-weight: 500;
}

.content-text5-1 p {
  color: var(--section-text-color-paragraph);
  font-size: 14px;
}

.content-text5-1 a.post {
  text-decoration: none;
  color: white;
  padding: 5px;
  background-color: #212529;
  border-radius: 5px;
  align-self: flex-start;
  font-size: 12px;
}
.comment-text {
  margin-bottom: 20px;
}

.comment-text h2 {
  font-size: 18px;
  font-weight: 500;
}
.content-form {
  margin-top: 20px;
  min-height: 100vh;
}
.content-form h4 {
  font-weight: 500;
  font-size: 16px;
}
.comment textarea {
  width: 80%;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 14px;
  color: var(--section-text-color-paragraph);
  font-family: "Poppins";
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-data #name {
  width: 37.5%;
  border: none;
  padding: 15px;
  color: var(--section-text-color-paragraph);
  border-radius: 5px;
  margin-right: 20px;
}
.form-data #email {
  width: 37.5%;
  border: none;
  padding: 15px;
  color: var(--section-text-color-paragraph);
  border-radius: 5px;
  margin-left: 20px;
}
.form-comment-btn {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  width: 80%;
}

.form-comment-btn #post-comment {
  width: 47%;
  border: none;
  padding: 15px;
  color: white;
  background-color: #212529;
  border-radius: 5px;
  cursor: pointer;
}

.form-comment-btn #post-comment:hover {
  opacity: 0.7;
  transition: all 0.1s ease-in-out;
}

.section-aside {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 50px;
}

.topic h2 {
  font-weight: 500;
  font-size: 16px;
}
.topic-tags {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  margin-top: 15px;
  padding-right: 20px;
}

.topic-tags1{
  display: flex;
  gap: 10px;
}
.topic a {
  text-decoration: none;
  color: var(--section-text-color-paragraph);
  padding: 5px;
  border-radius: 5px;
  white-space: nowrap;
  font-size: 10px;
  background-color: var(--aside-tag-color);
}

.aside-content1, .aside-content2, .aside-content3{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-right: 40px;
}

.aside-content1 a.red{
  text-decoration: none;
  color: white;
  font-size: 12px;
  padding: 5px;
  border-radius: 5px;
  background-color: #e26d5c;
  align-self: flex-start;
  margin-right: 20px;
}

.aside-content2 a.green{
  text-decoration: none;
  color: white;
  font-size: 12px;
  padding: 5px;
  border-radius: 5px;
  background-color: #81b29a;
  align-self: flex-start;
  margin-right: 20px;
}

.aside-content3 a.black{
  text-decoration: none;
  color: white;
  font-size: 12px;
  padding: 5px;
  border-radius: 5px;
  background-color: #25282B;
  margin-right: 20px;
  align-self: flex-start;
}

.aside-content1 h3, .aside-content2 h3, .aside-content3 h3{
  font-size: 16px;
  color: var(--header-btn-color);
  font-weight: 500;
  margin-right: 20px;
}

.banner-1 {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url("Aside\ Img\ 1.png") center/cover no-repeat scroll;
  min-height: 40vh;
  min-width: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  border-radius: 10px;
  margin-right: 40px;
}

.banner-1 h3 {
  font-size: 16px;
  font-weight: 500;
  width: 70%;
}

.banner-2 {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url("Aside\ Img\ 2.png") center/cover no-repeat scroll;
  min-height: 40vh;
  min-width: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  border-radius: 10px;
  margin-right: 40px;
}


